doctype html
- var title = 'demo测试'
html
  head
    meta(charset="UTF-8")
    title= title
    meta(name="viewport", content="width=device-width,initial-scale=1,minimum-scale=1, maximum-scale=1,user-scalable=0")
    meta(name="format-detection", content="telephone=no")
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(content="black" name="apple-mobile-web-app-status-bar-style")
    link(rel="stylesheet", type="text/css", href="/static/common/m-common.css")
  body(style="background:#f5f5f5")
      .main-content(style='width: 600px; margin: 200px auto 0')
        .fl(style='float:left')
          img(src='/static/imgs/404.png')
        .fr(style='float:left; margin-top: 50px')
          h3(style="margin-bottom: 15px; font-weight: 400; font-size: 28px") 糟糕，页面被吃掉了...
          a(href="" style="background:#50a5d5; border: 1px solid #50a5d5; padding: 6px 12px;border-radius:4px;height:32px;font-size:12px;text-align:center;cursor:pointer;color:#fff;text-decoration: none") 返回首页

  script.
    function back(){
      history.back();
    }
       
